html {
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
  }

h1{
    font-weight: normal;
    font-size: 3.125rem;
}

a{
    color: aquamarine;
    font-size: 1rem;
}

h2{
    font-weight: 300;
    font-size: 2.625rem;
}

p{
    font-size: 1.3125rem;
    color:grey;
}

footer{
    text-align: right;
    color: grey;
}